body, html{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body-100{
  height: 100vh;
}
body {
  font-family: "Poppins", sans-serif;
}
.bg-dark {
  background-color: #1e1e1e !important;
}
body.black {
  color: white;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
a.nav-link.active{
    font-weight: 600;
}
#navbarNav a {
  text-transform: uppercase;
  font-size: 0.9rem;
}
img.img-fluid.logo {
  max-width: 100px;
}
img.img-fluid.logo-footer {
    max-width: 65px;
}
.btn{
  font-weight: bold;
}
.btn-success{
  color: black !important;
}
.btn-light{
  border: 1px solid black;
}
.body-home{
  background-image: url('./assets/images/backgound2-8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.body-clean {
  background-image: url('./assets/images/backgound3-2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-success {
  background-color: #8EBE45;
  border-color:#8EBE45
}
a.nav-link.active {
  color: #8EBE45 !important;
  font-weight: normal;
  text-decoration: underline;
}
.name-char{
  text-align: center;
}
.footer-md{
  color: #8EBE45 !important;
}